$color-primary: #1C1C1C;
$color-secondary: #C0392B;
$color-background: #bebebe;
$color-text: #ECECEC;
$color-alt-text: #0f0f0f;
$color-highlight: #F39C12;
$color-background-2: #1C1C1C;
$color-background-3: #1C1C1C;
