$color-primary: #141a1a;
$color-secondary: #e46e27;
$color-background: #112f43;
$color-text: #ECECEC;
$color-highlight: #F39C12;
$color-background-2: #23a4c1;
$color-background-3: #8f4518;
$color-text-dark: #000000;
$color-border: #606d70;
