@import '../../assets/styles/base/variables';

.projects {
    padding: 4rem 2rem;
    
    background-color: $color-primary;
    background-size: cover;
    min-height: 90vh;

    &__container {
        max-width: 1200px;
        margin: 10rem auto;
        text-align: center;
    }

    &__title {
        color: $color-secondary;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        justify-content: center;
    }

    &__item {
        background-color: $color-background;
        color: $color-text;
        padding: 1.5rem;
        border-radius: 10px;
        width: calc(33.333% - 2rem);
        box-shadow: rgba(0, 0, 0, 0.5) 10px 10px 10px;
        text-align: left;
    }

    &__item-title {
        color: $color-background-2;
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    &__item-description {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    &__item-link {
        color: $color-highlight;
        text-decoration: none;
        font-weight: bold;
        &:hover {
            text-decoration: underline;
        }
    }

    // Estilos para dispositivos móviles
    @media screen and (max-width: 768px) {
        padding: 3rem 1rem;

        &__item {
            width: 100%;
        }
    }
}
