@import '../../assets/styles/base/variables';

.home {
    min-height: 100vh; // Ajusta la altura para que sea al menos la altura de la pantalla
    background-image: url('../../assets/images/workplace.jpg'); // Ruta de la imagen de fondo
    background-size: cover;
    background-position: center;
    color: $color-text;
    display: flex;
    flex-direction: column;
    justify-content: center; // Centra verticalmente el contenido
    position: relative;
    
    &__content {
        padding: 2rem;
    }

    &__title {
        font-size: 3.2rem;
        font-weight: normal;
        text-align: left;
        color: #fff;
        margin: 0;
        line-height: 1.1;

        &-lastname {
            font-weight: bold;
            font-size: 4.5rem;
            margin-top: -2rem;
        }
    }

    &__subtitle {
        font-size: 1.9rem;
        text-align: left;
        color: #F39C12;
        margin: 0;
    }

    &__social-icons {
        display: flex;
        gap: 1rem;
        align-items: center;
        position: absolute;
        bottom: 2rem;
        left: 2rem;
    }

    &__social-link {
        color: #fff;
        font-size: 1.5rem;
        transition: color 0.3s;

        &:hover {
            color: $color-highlight;
        }
    }

    // Estilos para dispositivos móviles
    @media screen and (max-width: 768px) {
        &__title {
            font-size: 2rem;
        }

        &__social-link {
            font-size: 1.2rem;
        }
    }
}
